In [2]:
import numpy as np
import pandas as pd
import matplotlib as plt

In [3]:
df = pd.read_csv("world-electricity-by-source.csv")

In [4]:
df.head()

,Entity,Code,Year,Coal (% of total),Nuclear (Rate),Natural gas (Rate),Oil (Rate),Hydroelectric (Rate),Other renewables (excluding hydro) (Rate)
0,Albania,ALB,1971,0.0,0.0,0.0,42.857143,57.142857,0.0
1,Albania,ALB,1972,0.0,0.0,0.0,37.931034,62.068966,0.0
2,Albania,ALB,1973,0.0,0.0,0.0,33.783784,66.216216,0.0
3,Albania,ALB,1974,0.0,0.0,0.0,31.578947,68.421053,0.0
4,Albania,ALB,1975,0.0,0.0,0.0,28.089888,71.910112,0.0

In [14]:
df_2015 = df[df["Year"] == 2015]
df_2015.head()

,Entity,Code,Year,Coal (% of total),Nuclear (Rate),Natural gas (Rate),Oil (Rate),Hydroelectric (Rate),Other renewables (excluding hydro) (Rate)
44,Albania,ALB,2015,0.000000,NaN,0.000000,0.000000,100.000000,0.000000
89,Algeria,DZA,2015,0.000000,NaN,98.357510,1.319806,0.210762,0.111922
134,Angola,AGO,2015,0.000000,NaN,0.000000,46.825072,53.174928,0.000000
179,Arab World,NaN,2015,1.519196,NaN,64.071422,20.509818,2.438456,0.454259
224,Argentina,ARG,2015,2.029567,NaN,49.482260,15.423194,26.241575,1.898494

In [16]:
df_2015.sort_values(by="Coal (% of total)",ascending=False)

,Entity,Code,Year,Coal (% of total),Nuclear (Rate),Natural gas (Rate),Oil (Rate),Hydroelectric (Rate),Other renewables (excluding hydro) (Rate)
3864,Kosovo,OWID_KOS,2015,97.466906,NaN,0.000000,0.245138,2.287956,0.000000
709,Botswana,BWA,2015,96.359960,NaN,0.000000,3.606336,0.000000,0.033704
4936,Mongolia,MNG,2015,92.744422,NaN,0.000000,4.171957,0.000000,3.083621
6549,South Africa,ZAF,2015,92.711238,NaN,0.000000,0.074168,0.324638,1.930403
5954,Poland,POL,2015,80.906165,0.0,3.886431,1.288784,1.114755,12.687643
...,...,...,...,...,...,...,...,...,...
5628,Oman,OMN,2015,0.000000,NaN,97.365529,2.634471,0.000000,0.000000
2453,Gabon,GAB,2015,0.000000,NaN,46.048918,10.206961,43.179680,0.564440
2479,Georgia,GEO,2015,0.000000,NaN,21.960676,0.000000,78.039324,0.000000
2580,Ghana,GHA,2015,0.000000,NaN,38.847794,0.000000,50.865895,0.026107
44,Albania,ALB,2015,0.000000,NaN,0.000000,0.000000,100.000000,0.000000

In [20]:
df_evolution = pd.DataFrame()
df_evolution = df_1971[["Entity","Coal (% of total)"]]
df_evolution.head()

         Entity  Coal (% of total)
0       Albania           0.000000
45      Algeria           0.000000
90       Angola           0.000000
135  Arab World           1.168647
180   Argentina           3.085845

In [29]:
df_1971_2015 = df[(df["Year"] == 1971) | (df["Year"] == 2015)]
df_1971_2015

,Entity,Code,Year,Coal (% of total),Nuclear (Rate),Natural gas (Rate),Oil (Rate),Hydroelectric (Rate),Other renewables (excluding hydro) (Rate)
0,Albania,ALB,1971,0.000000,0.0,0.000000,42.857143,57.142857,0.000000
44,Albania,ALB,2015,0.000000,NaN,0.000000,0.000000,100.000000,0.000000
45,Algeria,DZA,1971,0.000000,0.0,38.851503,46.343652,14.804845,0.000000
89,Algeria,DZA,2015,0.000000,NaN,98.357510,1.319806,0.210762,0.111922
90,Angola,AGO,1971,0.000000,0.0,0.000000,18.463612,81.536388,0.000000
...,...,...,...,...,...,...,...,...,...
7954,Yemen,YEM,2015,0.000000,NaN,39.804732,60.195268,0.000000,0.000000
7955,Zambia,ZMB,1971,20.312500,0.0,0.000000,5.016447,74.671053,0.000000
7999,Zambia,ZMB,2015,0.000000,NaN,0.000000,3.006176,96.993824,0.000000
8000,Zimbabwe,ZWE,1971,32.676291,0.0,0.000000,0.000000,67.323709,0.000000
8044,Zimbabwe,ZWE,2015,46.781337,NaN,0.000000,0.494387,51.395612,1.328664

In [22]:
df_1971.set_index("Entity").join(df_2015.set_index("Entity"))

ValueError: columns overlap but no suffix specified: Index(['Code', 'Year', 'Coal (% of total)', 'Nuclear (Rate)',
       'Natural gas (Rate)', 'Oil (Rate)', 'Hydroelectric (Rate)',
       'Other renewables (excluding hydro) (Rate)'],
      dtype='object')

In [34]:
df.columns

Index(['Entity', 'Code', 'Year', 'Coal', 'Nuclear', 'Natural_gas', 'Oil',
       'Hydroelectric', 'Other_renewables'],
      dtype='object')

In [33]:
df.columns = ['Entity', 'Code', 'Year', 'Coal', 'Nuclear','Natural_gas', 'Oil', 'Hydroelectric', 'Other_renewables']
df.set_index("Entity")

,Code,Year,Coal,Nuclear,Natural_gas,Oil,Hydroelectric,Other_renewables
Entity,,,,,,,,
Albania,ALB,1971,0.000000,0.0,0.0,42.857143,57.142857,0.000000
Albania,ALB,1972,0.000000,0.0,0.0,37.931034,62.068966,0.000000
Albania,ALB,1973,0.000000,0.0,0.0,33.783784,66.216216,0.000000
Albania,ALB,1974,0.000000,0.0,0.0,31.578947,68.421053,0.000000
Albania,ALB,1975,0.000000,0.0,0.0,28.089888,71.910112,0.000000
...,...,...,...,...,...,...,...,...
Zimbabwe,ZWE,2011,41.655816,0.0,0.0,0.488281,56.434462,1.421441
Zimbabwe,ZWE,2012,39.052483,0.0,0.0,0.554167,58.567858,1.825492
Zimbabwe,ZWE,2013,45.464995,0.0,0.0,0.595611,52.204807,1.734587
Zimbabwe,ZWE,2014,43.855974,0.0,0.0,0.538600,54.169160,1.436266
Zimbabwe,ZWE,2015,46.781337,NaN,0.0,0.494387,51.395612,1.328664

In [17]:
df_1971 = df[df["Year"] == 1971]
df_1971.sort_values(by="Coal (% of total)",ascending=False)

,Entity,Code,Year,Coal (% of total),Nuclear (Rate),Natural gas (Rate),Oil (Rate),Hydroelectric (Rate),Other renewables (excluding hydro) (Rate)
6505,South Africa,ZAF,1971,99.795048,0.000000,0.000000,0.000000,0.204952,0.000000
5910,Poland,POL,1971,91.913657,0.000000,3.284582,2.302371,2.256353,0.145246
1442,Czech Republic,CZE,1971,84.842736,0.000000,1.003519,10.832509,3.321236,0.000000
800,Bulgaria,BGR,1971,81.504568,0.000000,0.000000,8.169966,10.325466,0.000000
2491,Germany,DEU,1971,74.989381,1.899471,6.493526,11.660234,4.111548,0.845839
...,...,...,...,...,...,...,...,...,...
3632,Jamaica,JAM,1971,0.000000,0.000000,0.000000,86.336516,7.517900,6.145585
1998,Ethiopia,ETH,1971,0.000000,0.000000,0.000000,48.735245,51.264755,0.000000
1903,El Salvador,SLV,1971,0.000000,0.000000,0.000000,29.268293,70.731707,0.000000
1858,Egypt,EGY,1971,0.000000,0.000000,0.000000,36.971743,63.028257,0.000000
0,Albania,ALB,1971,0.000000,0.000000,0.000000,42.857143,57.142857,0.000000